<!DOCTYPE html>
<html lang="de" dir="ltr">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>firstStart</title>
		<link rel="stylesheet" ref="/resources/css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet/less" type="text/less" href="/resources/less/firstStart.less">

	</head>
	<body>

		<div class="jagos-point">
			<div class="jagos-point-inner">
				<div class="jagos-point-menu-icon">
					<div class="jagos-simpleLine-1"></div>
					<div class="jagos-simpleLine-2"></div>
				</div>
				<div class="jagos-point-menu-content">
					<div class="jagos-menu-item">

					</div>
				</div>
			</div>
		</div>

		<!--
		<div class="jagos-logo">

		</div>
		<div class="jagos-topbar">

		</div>
		<div class="jagos-sidebar">

		</div>

		<div class="jagos-inner jagos-center">
			<div class="jagos-config-mysql">
				<img src="/cdf/plc/mysql.png" alt="">
				<div class="jagos-config-row">
					<label for="jagos-config-mysql-ip">Server:</label><input type="text" name="jagos-config-mysql-ip" value="">
				</div>
				<div class="jagos-config-row">
					<label for="jagos-config-mysql-user">User:</label><input type="text" name="jagos-config-mysql-user" value="">
				</div>
				<div class="jagos-config-row">
					<label for="jagos-config-mysql-password">Passwort:</label><input type="password" name="jagos-config-mysql-password" value="">
				</div>
				<button type="button" name="button" id="jagos-firstStart-connect">Verbinden</button>
			</div>
		</div>
	-->


		<script src="/resources/js/jquery.3.3.1.min.js" charset="utf-8"></script>
		<script src="/resources/js/less.min.js" charset="utf-8"></script>
		<script src="/resources/js/jagos_firstStart.js" charset="utf-8"></script>
	</body>
</html>
